@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Dancing+Script:wght@400;500;700&family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat+Alternates:wght@400;500&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&family=Sora:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Lobster+Two:wght@400;700&family=Satisfy&family=Yellowtail&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  /* background-color: #ffe6a7; */
  background-color: #e9ff70;
}

.card {
  /* border: 1px solid white; */
  width: 640px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* defines how far the 3D element is placed from the viewer. used with transform property  */
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}

/* @media screen and (max-width: 450px) {
  .card {
    width: 540px;
    height: 400px;
  }
} */

.card:hover {
  transform: rotate(-5deg);
}

/* card open effect */
.card:hover .outside {
  transform: rotateY(-130deg);
}

/* .card:hover .inside {
  box-shadow: 1px 1px 3px grey;
} */

.outside,
.inside {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {
  /* to avoid overlapping and move inside layer to right with left 50.1% */
  /* left: 50.1%; */
  background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
  line-height: 2;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}

.outside {
  /* to define whether child elements should be rendered in a flat or 3D space when transformed */
  /* flat: Child elements are flattened to lie in the plane of their parent. */
  /* preserve-3d: Child elements preserve their 3D position and won't be flattened. */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
}

.front,
.back {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  /* to determine whether or not the back face of an element should be visible when facing away from the viewer in a 3D space */
  /* normally used with transform property */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.front {
  background-color: #ffffff;
}

.back {
  /* top: 100%; */
  transform: rotateX(180deg);
  background: linear-gradient(to left, #e0e0e0, #ffffff 30%);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 0;
  user-select: none;
}

.top-layer,
.middle-layer,
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}

.middle-layer {
  transform: scale(0.85);
  top: 6px;
}

.top-layer {
  transform: scale(0.7);
  top: 26px;
}

.candle {
  height: 45px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89a 5px,
    #ffa89a 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 202px;
}

.candle::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  transform: rotate(45deg);
  left: -1px;
}

.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
  font-family: "Dancing Script", cursive;
  /* font-family: "Carrois Gothic", sans-serif; */
  /* font-family: "Pacifico", cursive; */
}

.inside h1 {
  font-size: 120px;
  line-height: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0 auto 0;
}

.name {
  font-family: "Pacifico", cursive;
  user-select: none;
}

.wish {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Sora", sans-serif;
  font-size: 15px;
  user-select: none;
}

.conclusion {
  font-family: "Courgette", cursive;
  user-select: none;
}

.title {
  text-align: center;
  margin: 20px auto 0;
  font-family: "Sora", sans-serif;
  user-select: none;
}
